/*css*/
#swimbtn {
		-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #ffc20a;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#swimbtn:hover {
  -fx-background-color: #e6ad00;
}
#trackbtn {
		-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #ffc20a;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#trackbtn:hover {
  -fx-background-color: #e6ad00;
}
#cyclebtn {
		-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #ffc20a;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#cyclebtn:hover {
  -fx-background-color: #e6ad00;
}
#refereebtn {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #3498db;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#refereebtn:hover {
  -fx-background-color: #3cb0fd;
}
#confirm {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #3498db;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#confirm:hover {
  -fx-background-color: #3cb0fd;
}
#Message{
	-fx-background-color: rgba(0,0,0,0.6);
}
#referee{
	-fx-background-color: rgba(0,0,0,0.6);
}

#startbtn {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #63d934;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#startbtn:hover {
  -fx-background-color: #1f8c64;
}

#resultsbtn {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #63d934;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#resultsbtn:hover {
  -fx-background-color: #1f8c64;
}

#rankingsbtn {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #63d934;
  -fx-padding: 10 20 10 20;
  -fx-font-weight: bold;
}
#rankingsbtn:hover {
  -fx-background-color: #1f8c64;
}




#btn2 {
	-fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #f44242;
  -fx-padding: 5 10 5 10;
  -fx-font-weight: bold;
}
#btn2:hover {
  -fx-background-color: #fc1919;
}

#pane {
	 -fx-background-image: url("oz-bg.jpg");
	 -fx-background-position: center;

}
#toppane {
		 -fx-background-color: rgba(0,0,0,1);
}




